@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@mixin sliced-text(){
    position: relative;
    visibility: hidden;
    &::before,
    &::after {
      visibility: visible;
      content: attr(data-word);
      position: absolute;
      top: 0; right: 0;
      bottom: 0; left: 0;
      transition: transform 0.5s;
    }
      
    &::before {
      clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 65%);
      will-change: transform;
      transform: translatex(-0.13rem);
    }
      
    &::after {
      clip-path: polygon(0% 100%, 100% 100%, 100% 39%, 0 67%);
      transform: translatex(0.13rem);
    }
      
    &:hover::before,
    &:hover::after {
      transform: translatex(0) translatez(0);  
    }
}

* {
    margin: 0;
    padding: 0;
    //border: 1px solid white;
}
html {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}
body {
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(33, 33, 33, 1);
    .navbar {
        z-index: 10;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 110px;
        color: white;
        position: fixed;
        top: 0;
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0.238);
        .navbar__logo {
            font-size: 3.6rem;
            font-weight: 700;
            letter-spacing: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 150px;
            p {
                @include sliced-text();
            }  
        }
        .navbar__elements {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 50px;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 1rem;
            text-transform: uppercase;
            a {
                margin: auto 0;
                padding: 10px;
                text-decoration: none;
                transition: 0.5s;
                color: white;
                &:visited {
                    color: white;
                }
                &:hover {
                    color: rgb(100, 100, 100);
                }
            }
            
            .navbar_combined-btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
                a {
                    display: block;
                    background-color: white;
                    height: 20px;
                    color: black;
                    &:visited {
                        color: black;
                    }
                    &:hover {
                        background-color: rgb(181, 181, 181);
                    }
                }
                a:first-child {
                    border-radius: 25px 0 0 25px;
                    padding: 15px 5px 15px 15px;
                    border-right: 1px solid black;
                }
                a:last-child {
                    border-radius: 0 25px 25px 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding: 15px 15px 15px 5px;
                    border-left: 1px solid black;
                }
            }
        }
    }
    header {
        margin-top: 200px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        color: white;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        //border: 1px solid red;
        margin: 100px auto;
        color: white;
        //margin-top: 200px;
        width: 100%;
        .form {
            //border: 1px solid white;
            width: 500px;
            //margin: 200px 100px;
            form {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                //border: 1px solid red;
                input {
                    height: 50px;
                    border-radius: 5px;
                    margin: 10px 0;
                    padding: 0 15px;
                    font-size: 1.2rem;
                    font-weight: 700;
                    &::placeholder {
                        font-size: 1.2rem;
                        //font-family: 'Inter', sans-serif;
                        font-weight: 700;
                    }
                } 
                button {
                    height: 50px;
                    border-radius: 5px;
                    margin: 10px 0;
                    padding: 0 15px;
                    font-size: 1.2rem;
                    font-weight: 700;
                    width: 50%;
                    background-color: rgb(255, 199, 0);
                    font-size: 1.2rem;
                    margin: 10px auto;
                    font-weight: 700;
                }
            }
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
                text-decoration: none;
                margin: 15px 0;
                transition: 0.5s;
                &:hover {
                    color: rgb(181, 181, 181);
                }
                &:active {
                    color: white;
                }
            }
        }
    }
}