@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(33, 33, 33);
}
body .navbar {
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 110px;
  color: white;
  position: fixed;
  top: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.238);
}
body .navbar .navbar__logo {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 150px;
}
body .navbar .navbar__logo p {
  position: relative;
  visibility: hidden;
}
body .navbar .navbar__logo p::before, body .navbar .navbar__logo p::after {
  visibility: visible;
  content: attr(data-word);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform 0.5s;
}
body .navbar .navbar__logo p::before {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 65%);
          clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 65%);
  will-change: transform;
  transform: translatex(-0.13rem);
}
body .navbar .navbar__logo p::after {
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 39%, 0 67%);
          clip-path: polygon(0% 100%, 100% 100%, 100% 39%, 0 67%);
  transform: translatex(0.13rem);
}
body .navbar .navbar__logo p:hover::before, body .navbar .navbar__logo p:hover::after {
  transform: translatex(0) translatez(0);
}
body .navbar .navbar__elements {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: uppercase;
}
body .navbar .navbar__elements a {
  margin: auto 0;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s;
  color: white;
}
body .navbar .navbar__elements a:visited {
  color: white;
}
body .navbar .navbar__elements a:hover {
  color: rgb(100, 100, 100);
}
body .navbar .navbar__elements .navbar_combined-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
body .navbar .navbar__elements .navbar_combined-btn a {
  display: block;
  background-color: white;
  height: 20px;
  color: black;
}
body .navbar .navbar__elements .navbar_combined-btn a:visited {
  color: black;
}
body .navbar .navbar__elements .navbar_combined-btn a:hover {
  background-color: rgb(181, 181, 181);
}
body .navbar .navbar__elements .navbar_combined-btn a:first-child {
  border-radius: 25px 0 0 25px;
  padding: 15px 5px 15px 15px;
  border-right: 1px solid black;
}
body .navbar .navbar__elements .navbar_combined-btn a:last-child {
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px 15px 15px 5px;
  border-left: 1px solid black;
}
body header {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  color: white;
}
body main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: white;
  margin-top: 200px;
  width: 80%;
}
body main .basket_item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  justify-content: space-evenly;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}
body main .basket_item .price_per_piece {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body main .basket_item .quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px auto;
}
body main .basket_item .quantity p {
  margin: auto 10px;
}
body main .basket_item .final_price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 40px;
}
body main .basket_item img {
  width: 130px;
  height: 130px;
  margin: auto auto;
}
body main .basket_item p {
  margin: auto auto;
  /*
  .fa-times{
      margin: auto auto 0px 15px;
          font-size: 3rem;
  }*/
}
body main .basket_item p .fa-times {
  font-size: 3rem;
}
body main .basket_item p .fa-rub {
  margin-left: 20px;
}
body main .price-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 100px 100px 100px 20px;
}
body main .price-btn p {
  letter-spacing: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 15px;
  width: 300px;
  height: 80px;
  font-size: 1.8rem;
}
body main .price-btn a {
  background-color: rgb(255, 199, 0);
  color: black;
  text-decoration: none;
  width: 300px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.8rem;
}
body main .price-btn a:visited {
  color: black;
}
body main .price-btn a:hover {
  box-shadow: 1px 1px 1px black, -1px -1px 1px black;
}
body main .price-btn a:active {
  background-color: rgb(205, 161, 0);
}
body main .price-btn a i {
  margin: 0 5px;
}/*# sourceMappingURL=styles.css.map */