@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@mixin sliced-text(){
    position: relative;
    visibility: hidden;
    &::before,
    &::after {
      visibility: visible;
      content: attr(data-word);
      position: absolute;
      top: 0; right: 0;
      bottom: 0; left: 0;
      transition: transform 0.5s;
    }
      
    &::before {
      clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 65%);
      will-change: transform;
      transform: translatex(-0.13rem);
    }
      
    &::after {
      clip-path: polygon(0% 100%, 100% 100%, 100% 39%, 0 67%);
      transform: translatex(0.13rem);
    }
      
    &:hover::before,
    &:hover::after {
      transform: translatex(0) translatez(0);  
    }
}

* {
    margin: 0;
    padding: 0;
    //border: 1px solid white;
}
html {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}
body {
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(33, 33, 33, 1);
    .navbar {
        z-index: 10;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 110px;
        color: white;
        position: fixed;
        top: 0;
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0.238);
        .navbar__logo {
            font-size: 3.6rem;
            font-weight: 700;
            letter-spacing: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 150px;
            p {
                @include sliced-text();
            }  
        }
        .navbar__elements {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 50px;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 1rem;
            text-transform: uppercase;
            a {
                margin: auto 0;
                padding: 10px;
                text-decoration: none;
                transition: 0.5s;
                color: white;
                &:visited {
                    color: white;
                }
                &:hover {
                    color: rgb(100, 100, 100);
                }
            }
            
            .navbar_combined-btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
                a {
                    display: block;
                    background-color: white;
                    height: 20px;
                    color: black;
                    &:visited {
                        color: black;
                    }
                    &:hover {
                        background-color: rgb(181, 181, 181);
                    }
                }
                a:first-child {
                    border-radius: 25px 0 0 25px;
                    padding: 15px 5px 15px 15px;
                    border-right: 1px solid black;
                }
                a:last-child {
                    border-radius: 0 25px 25px 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding: 15px 15px 15px 5px;
                    border-left: 1px solid black;
                }
            }
        }
    }
    header {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: center;
        font-size: 1.4rem;
        color: white;
        .categories {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            flex-wrap: wrap;
            font-size: 1.8rem;
            margin: 50px;
            a {
                display: flex;
                flex-direction: row;
                width: 30%;
                margin: 10px;
                height: 80px;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                background-color: rgb(217, 217, 217);
                border-radius: 5px;
                text-transform: uppercase;
                transition: 0.5s;
                &:visited {
                    color: black;
                }
                &:hover {
                    background-color: rgb(100, 100, 100);
                }
            }
        }
    }
    main {
        h2 {
            color: white;
            text-align: center;
            margin: 40px 0;
        }
        .category {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            color: white;
            justify-content: space-evenly;
            //border: 1px solid green;
            .item {
                display: flex;
                flex-direction: column;
                width: 25%;
                height: 600px;
                //border: 1px solid blue;
                background-color: rgb(217, 217, 217);
                border-radius: 15px;
                overflow: hidden;
                margin: 40px;
                img {
                    height: 60%;
                    width: auto;
                    object-fit: cover;
                    //border: 1px solid black;
                }
                figcaption {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 50px 30px;
                    height: 100%;
                    color: black;
                    //border: 1px solid red;
                    .price-btn {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin: 0 20px;
                        p {
                            letter-spacing: 5px;
                            display: flex;
                            align-items: center;
                        }
                        a {
                            background-color: rgb(255, 199, 0);
                            color: black;
                            text-decoration: none;
                            width: 150px;
                            height: 40px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            border-radius: 5px;
                            &:visited {
                                color: black;
                            }
                            &:hover {
                                box-shadow: 1px 1px 1px black, -1px -1px 1px black;
                            }
                            &:active {
                                background-color: rgb(205, 161, 0);
                            }
                            i {
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}