@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(33, 33, 33);
}
body .navbar {
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 110px;
  color: white;
  position: fixed;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.238);
}
body .navbar .navbar__logo {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 150px;
}
body .navbar .navbar__logo p {
  position: relative;
  visibility: hidden;
}
body .navbar .navbar__logo p::before, body .navbar .navbar__logo p::after {
  visibility: visible;
  content: attr(data-word);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform 0.5s;
}
body .navbar .navbar__logo p::before {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 65%);
          clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 65%);
  will-change: transform;
  transform: translatex(-0.13rem);
}
body .navbar .navbar__logo p::after {
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 39%, 0 67%);
          clip-path: polygon(0% 100%, 100% 100%, 100% 39%, 0 67%);
  transform: translatex(0.13rem);
}
body .navbar .navbar__logo p:hover::before, body .navbar .navbar__logo p:hover::after {
  transform: translatex(0) translatez(0);
}
body .navbar .navbar__elements {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: uppercase;
}
body .navbar .navbar__elements a {
  margin: auto 0;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s;
  color: white;
}
body .navbar .navbar__elements a:visited {
  color: white;
}
body .navbar .navbar__elements a:hover {
  color: rgb(100, 100, 100);
}
body .navbar .navbar__elements .navbar_combined-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
body .navbar .navbar__elements .navbar_combined-btn a {
  display: block;
  background-color: white;
  height: 20px;
  color: black;
}
body .navbar .navbar__elements .navbar_combined-btn a:visited {
  color: black;
}
body .navbar .navbar__elements .navbar_combined-btn a:hover {
  background-color: rgb(181, 181, 181);
}
body .navbar .navbar__elements .navbar_combined-btn a:first-child {
  border-radius: 25px 0 0 25px;
  padding: 15px 5px 15px 15px;
  border-right: 1px solid black;
}
body .navbar .navbar__elements .navbar_combined-btn a:last-child {
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px 15px 15px 5px;
  border-left: 1px solid black;
}
body main {
  height: 100%;
}
body main .buttons {
  position: fixed;
  top: 10vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 80vh;
  width: 100%;
}
body main .buttons .buttons__background-reg {
  width: 300px;
  height: 40px;
  display: flex;
  margin-bottom: 20px;
}
body main .buttons .buttons__background-reg .buttons__registration {
  background-color: rgb(255, 199, 0);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.5s;
}
body main .buttons .buttons__background-reg .buttons__registration:visited {
  color: black;
}
body main .buttons .buttons__background-reg .buttons__registration:hover {
  box-shadow: 1px 1px 1px black, -1px -1px 1px black;
}
body main .buttons .buttons__background-reg .buttons__registration:active {
  background-color: rgb(205, 161, 0);
}
body main .buttons .buttons__background-auth {
  width: 300px;
  height: 40px;
  display: flex;
}
body main .buttons .buttons__background-auth .buttons__authorization {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.5s;
}
body main .buttons .buttons__background-auth .buttons__authorization:visited {
  color: rgb(255, 255, 255);
}
body main .buttons .buttons__background-auth .buttons__authorization:hover {
  box-shadow: 1px 1px 1px rgb(255, 255, 255), -1px -1px 1px rgb(255, 255, 255);
}
body main .buttons .buttons__background-auth .buttons__authorization:active {
  background-color: rgba(0, 0, 0, 0.236);
}
body main .slides {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}
body main .slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
body main .slides input {
  display: none;
}
body main .slides .slide-container {
  display: block;
}
body main .slides .slide-container .slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all 0.7s ease-in-out;
}
body main .slides .slide-container .slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .slides input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
body main .slides .nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}
body main .slides .nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
}
body main .slides .nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}
body main .slides input#img-1:checked ~ .nav-dots label#img-dot-1,
body main .slides input#img-2:checked ~ .nav-dots label#img-dot-2,
body main .slides input#img-3:checked ~ .nav-dots label#img-dot-3,
body main .slides input#img-4:checked ~ .nav-dots label#img-dot-4,
body main .slides input#img-5:checked ~ .nav-dots label#img-dot-5,
body main .slides input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(255, 255, 255, 0.8);
}/*# sourceMappingURL=styles.css.map */